<html>
  <head>
    <title>Confirmation</title>
  </head>
  <body leftmargin="0" marginheight="0" marginwidth="0" offset="0" style="font-family:'Trebuchet MS'; font-size:13px; color:#666" topmargin="0">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f3f3f3; width:750px;padding-top:10px;">
      <tr>
        <td>
          <table align="center" border="0" cellpadding="10" cellspacing="0" style="width:640px">
            <tr>
              <td bgcolor="#67BBAA" height="50">
                <img src="https://wakeupsales.com/assets/new_logo_i.png"/>
              </td>
            </tr>
            <tr>
              <td style="border:1px solid #dfdfdf; background-color:#ffffff; font-size:13px; font-family:Trebuchet MS, tahoma, verdana; color:#666666;">
                <p>
                  Hi&nbsp;<%=@email%>,
                </p>
                <p >
                  Please click the below button to signup. 
                </p>
                <p>
				 <a href="<%=@link%>" target="_blank" style="cursor:pointer;text-decoration: none;color:#FFFFFF;">
			
				   <div style="border:none;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;background:#0EA426;font-weight:bold;margin-top:20px;padding:8px 0;width:100%;text-align:center;">
			         Complete Signup Process
			       </div>
	             </a>
				 
				 </p>
                <div style="clear:both;height:5px"></div>
              </td>
            </tr>
            <tr>
              <td style="background:#f8f8f8;border-top:none !important;border:1px solid #dfdfdf;">
                <p style="color:#666666;margin:0">
                  <div style="padding:30px 40px;">
                    <div style="margin:0 auto 30px">
                      <div style="padding:0;text-align:center">
                        <span style="float:left;">
                          <a href="https://twitter.com/Andolasoft" target="_blank" style="text-decoration: none">
                            <img src="https://wakeupsales.com/assets/twitter-e-btn.png" />&nbsp;&nbsp;
                          </a>
                        </span>
                        <span style="float:right;">
                          <a href="https://www.facebook.com/AndolaSoft.INC" target="_blank" style="text-decoration: none">
                            &nbsp;&nbsp;
                            <img src="https://wakeupsales.com/assets/fb-e-btn.png" />
                          </a>
                        </span>
                        <div style="clear:both"></div>
                      </div>
                    </div>
                    <div style="clear:both"></div>
                    <div style="color:#999;font-size:12px;margin:17px 0;text-align:center">WakeUpSales. All Rights reserved. 2059 Camden Ave.#118, San Jose, CA 95124, USA</div>
                    <div style="margin:0 auto">
                      <div style="padding:0;text-align:center">
                        <span style="font-size:12px;">
                          <a href="http://blog.andolasoft.com/" style="color:#1584d3;text-decoration:none" target="_blank">Blog</a>
                        </span>
                        <span style="font-size:12px;color:#bbb;padding:0 10px">
                          |
                        </span>
                        <span style="font-size:12px;">
                          <a href="http://www.andolasoft.com/" style="color:#1584d3;text-decoration:none" target="_blank">Features</a>
                        </span>
                        <span style="font-size:12px;color:#bbb;padding:0 10px">
                          |
                        </span>
                        <span style="font-size:12px;">
                          <a href="http://www.andolasoft.com/" style="color:#1584d3;text-decoration:none" target="_blank">Help</a>
                        </span>
                        <span style="font-size:12px;color:#bbb;padding:0 10px">
                          |
                        </span>
                        <span style="font-size:12px;">
                          <a href="http://www.andolasoft.com/" style="color:#1584d3;text-decoration:none" target="_blank">About Us</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="10" cellspacing="0" style="width:640px">
            <tr>
              <td style="font-size:10px; padding:10px 0 10px 0px; line-height:30px; font-family:Trebuchet MS, tahoma, verdana; color:#666666; margin-top:20px;">
                <div style="font-size:10px;line-height:20px;margin:10px auto;text-align:center;width:100%">
                  You are receiving this email notification because you have subscribed to WakeUpSales, to unsubscribe, please email with subject 'Unsubscribe' to
                  <a href="mailto:support@wakeupsales.com" style="color:#105687;text-decoration:none" target="_blank">support@wakeupsales.com</a>
                  <div class="yj6qo"></div>
                  <div class="adL"></div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="20px"></td>
      </tr>
    </table>
  </body>
</html>
