.footer
  .container
    .row
      .col-md-1
      .col-md-4
        .ft_img
          .ft_top_hd 
            .fl
              WakeUpSales
          .cb
          %ul{style: "text-align: left;margin-left: -37px;"}
            %li
              %a{href: "/"} Home
            %li
              %a{href: "http://www.andolasoft.com/"} About us
            %li
              %a{href: "/terms"} Terms of Services
            %li
              %a{href: "/privacy"} Privacy Policy
            %li
              %a{href: "/security"} Security
      .col-md-4              
        .ft_img
          .ft_top_hd 
            .fl
              Software Stack
          .cb
          %div
            %ul{style: "text-align: left;margin-left: -37px;"}
              %li Rails 3 &nbsp;|&nbsp; Mysql &nbsp;|&nbsp;

              %li ElasticSearch &nbsp;|&nbsp;
              %li Sidekiq &nbsp;|&nbsp; Bootstrap 3.0 &nbsp;|&nbsp;

              %li Amazon webservice<br>(RDS, Cloudfront & S3)
            /=image_tag "iphone_android.png", style: "display: inline;margin-top:15px"
      .col-md-3           
        .ft_img
          .ft_follow
            %div{ style: "margin-top:20px;color:#ffffff"}
              Community Edition - v3.8
            .ft_top_hd
              %a{href: "mailto:support@wakeupsales.org"} support@wakeupsales.org
            %div{ style: "margin-top:20px;color:#ffffff"}
              +1 (408) 625 - 7188
            .cb
            .ft_flw_div
              %a{href: "http://twitter.com/Andolasoft", target: "_blank", title: "Andolasoft Twitter"}
                .flw1.fl            
              %a{href: "http://www.facebook.com/pages/Andolasoft/114717805277997", target: "_blank", title: "Andolasoft Facebook"}
                .flw2.fl
              %a{href: "http://www.linkedin.com/company/580154?trk=tyah", target: "_blank", title: "Andolasoft Linkedin"}
                .flw3.fl
              %a{href: "http://pinterest.com/andolasoft/", target: "_blank", title: "Andolasoft Pinterest"}
                .flw4.fl
              .cb
            .cb
        .cb
        .ft_dev Developed by <a target="_blank" href="http://www.andolasoft.com/" style="color:#fff">Andolasoft</a>