.cb10
.count_nav_block.bggry

  .fl.ic_t_over
  .fl.count_total.txtgrn Tasks Completed

  .fr.fnt30.txtgrn
    #usage_task_cmpl
  .cb
.count_nav_block
  .fl.ic_t_call
  .fl.count_total Call Completed
  .fr.fnt30
    #usage_call_cmpl
  .cb
.count_nav_block.bggry
  .fl.ic_t_sum
  .fl.count_total.txtblue Total Leads

  .fr.fnt30.txtblue
    #usage_lead_generated
  .cb
.count_nav_block
  .fl.ic_t_won
  .fl.count_total.txtgrn Won Leads

  .fr.fnt30.txtgrn 
    #usage_won_deal
  .cb
.count_nav_block.bggry

  .fl.ic_t_compl
  .fl.count_total.txtred Lost Leads

  .fr.fnt30.txtred
    #usage_lost_deal
  .cb
.count_nav_block
  .fl.ic_t_lead
  .fl.count_total Leads nurtured
  .fr.fnt30
    #usage_nurtured_deal
  .cb
