<!--  When u change any content in this page, after changes clear the cache by thr URL "/clear_cache"       -->


<div class="container">
  <div class="cb10"></div>
  <div class="cb10"></div>
  <div class="col-md-12 p0">
    <div class="con-box1">
      <div>
        <table width="100%" cellspacing="0" cellpadding="0" align="center" id="faq" style="color:#5F5F5F; font-family:Verdana,Geneva,sans-serif; line-height:24px; font-size:13px;">
            <tbody><tr>
                <td align="center">
                    <table width="100%" cellspacing="4" cellpadding="0" align="center" >
                        <tbody><tr>
                            <td style="text-align:left">
                                <p style="color: #647281; font-size: 22px;padding:20px 20px 0;">Privacy Policy</p>
                                    <h3 class="prv" style="padding:0px 20px 0px 20px;">Your privacy is our concern!</h3>

                                    <p style="padding:0px 20px 0px 20px; color:#616161">
                                        At <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> we recognize that your privacy is important. This Privacy Policy applies to all of the products, services and websites offered by <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>
                                    </p>
                                    <p style="color:#616161; margin-top:15px; font-size:16px;padding:0px 20px 0px 20px;"><b>
                                        Information we collect and how we use it</b></p>
                                        <p style="padding:0px 20px 0px 20px;">
                                        We offer a number of services which may require you to register for an account or provide any personal information to us. In order to provide our full range of services, we may collect the following types of information:</p><p></p>
        
                                    <ul style="line-height:22px;margin-left:30px;padding:0px 20px 0px 20px;" class="ul">
                                        <li><b>Cookies -</b> When you visit Andolasoft site or the applications in the Lab, we send one or more cookies - a small file containing a string of characters - to your computer that uniquely identifies your browser. We use cookies to improve the quality of our service and they do not contain any personally identifiable information.</li>
                                        <li><b>Information you Provide -</b> When you sign up for any <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> Services account or other service or promotion that requires registration, we ask you for personal information (such as your name, email address and an account password). We may combine the information you submit under your account with information from third parties in order to provide you with a better experience and to improve the quality of our services. For certain services, we may give you the opportunity to opt out of combining such information.</li>
                                        <li><b>Log Information -</b> When you access any <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> services, our servers automatically record information that your browser sends whenever you visit a <a style="" target="_blank" href="/contact_us">website</a>. These server logs may include information such as your web request, Internet Protocol address, browser type, browser language, the date and time of your request and one or more cookies that may uniquely identify your browser.</li>
                                    
                                        <li><b>User Communications -</b> When you send email or other communications to Andolasoft we may retain those communications in order to process your inquiries, respond to your requests and improve our services.</li>
                                        <li><b>Other Sites -</b> This Privacy Policy applies to <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>, Andolasoft Lab &amp; other services provided only. We do not exercise control over sites which link from within our various services. These other sites may place their own cookies or other files on your computer, collect data or solicit personal information from you.</li>
                                        <p></p><p>Andolasoft only processes personal information for the purposes described in this Privacy Policy and/or the supplementary privacy notices for specific services. In addition to the above, such purposes include:</p><p>
                                        </p><li>Auditing, research and analysis in order to maintain, protect and improve our services;</li>
                                    
                                        <li>Ensuring the technical functioning of our network; and</li>
                                        <li>Developing new services.</li>
                                    </ul>
            <p></p><p style="padding:0px 20px 0px 20px;">
        You can find more information about how we process personal information by referring to the supplementary privacy notices for particular services where applicable.</p><p>
        </p>
        <p style="padding:0px 20px 0px 20px;"><a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> processes personal information on our servers in the United States of America and in other countries. In some tasks, we process personal information on a server outside your own country. We may process personal information to provide our own services.</p><p>
        
        </p><p style="padding:0px 20px 0px 20px;"><b>Choices for personal information</b></p><p>
        </p><p style="padding:0px 20px 0px 20px;">When you sign up for a particular service that requires registration, we ask you to provide personal information. If we use this information in a manner different than the purpose for which it was collected, then we will ask for your consent prior to such use.</p><p>
        </p><p style="padding:0px 20px 0px 20px;">If we propose to use personal information for any purposes other than those described in this Privacy Policy and/or in the specific service privacy notices, we will offer you an effective way to opt out of the use of personal information for those other purposes. We will not collect or use sensitive information for purposes other than those described in this Privacy Policy and/or in the supplementary service privacy notices, unless we have obtained your prior consent.</p>
        <p style="padding:0px 20px 0px 20px;">Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>  services may not function properly if your cookies are disabled.</p>
        <p style="padding:0px 20px 0px 20px;">You can decline to submit personal information to any of our services, in which task <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>  may not be able to provide those services to you.</p>
        <p style="padding:0px 20px 0px 20px;"><b>Information sharing</b></p>
        
        <p style="padding:0px 20px 0px 20px;">Currently we do not share any personal information with other companies or individuals outside of <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> However, in the future we may deem it necessary to share personal information with other companies or individuals and if so, it would be limited to the following circumstances:</p>
        <p style="padding:0px 20px 0px 20px;">
            </p><ul style="line-height:22px;margin-left:30px;" class="ul">
        <li id="hlite li">We have your consent. We require opt-in consent for the sharing of any sensitive personal information.</li>
        <li>We provide such information to our subsidiaries, affiliated companies or other trusted businesses or persons for the purpose of processing personal information on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.</li>
        <li>We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) enforce applicable Terms of Service, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against imminent harm to the rights, property or safety of <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>, its users or the public as required or permitted by law.</li>
        <li>If <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will provide notice before personal information is transferred and becomes subject to a different privacy policy.</li>
        
        </ul>
        <p></p>
        <p style="padding:0px 20px 0px 20px;">We may share with third parties certain pieces of aggregated, non-personal information. Such information does not identify you individually.</p>
        <p style="padding:0px 20px 0px 20px;">Please contact us via our <a style="" target="_blank" href="/contact_us">website</a> with any additional questions about the management or use of personal data.</p>
        <p style="padding:0px 20px 0px 20px;"><b>Information security</b></p>
        <p style="padding:0px 20px 0px 20px;">We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, as well as physical security measures to guard against unauthorized access to systems where we store personal data.</p>
        <p style="padding:0px 20px 0px 20px;">We restrict access to personal information to <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> employees, contractors and agents who need to know that information in order to operate, develop or improve our services. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.</p>
        
        <p style="padding:0px 20px 0px 20px;"><b>Data integrity</b></p>
        <p style="padding:0px 20px 0px 20px;"><a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> processes personal information only for the purposes for which it was collected and in accordance with this Privacy Policy or any applicable service-specific privacy notice. We review our data collection, storage and processing practices to ensure that we only collect, store and process the personal information needed to provide or improve our services. We take reasonable steps to ensure that the personal information we process is accurate, complete, and current, but we depend on our users to update or correct their personal information whenever necessary.</p>
        <p style="padding:0px 20px 0px 20px;"><b>Accessing and updating personal information</b></p>
        <p style="padding:0px 20px 0px 20px;">When you use <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> services, we make good faith efforts to provide you with access to your personal information and either to correct this data if it is inaccurate or to delete such data at your request if it is not otherwise required to be retained by law or for legitimate business purposes. We ask individual users to identify themselves and the information requested to be accessed, corrected or removed before processing such requests, and we may decline to process requests that are unreasonably repetitive or systematic, require disproportionate technical effort, jeopardize the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on backup tapes), or for which access is not otherwise required. In any task where we provide information access and correction, we perform this service free of charge, except if doing so would require a disproportionate effort.</p>
        <p style="padding:0px 20px 0px 20px;"><b>Enforcement</b></p>
        <p style="padding:0px 20px 0px 20px;"><a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> regularly reviews its compliance with this Privacy Policy. Please feel free to direct any questions or concerns regarding this Privacy Policy or <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>'s treatment of personal information by contacting us through this web site.</p>
        
        <p style="padding:0px 20px 0px 20px;">When we receive formal complaints, it is <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>'s policy to contact the complaining user regarding his or her concerns. We will cooperate with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that cannot be resolved between <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>  and an individual.</p>
        <p style="padding:0px 20px 0px 20px;"><b>Changes to this Privacy Policy</b></p>
        <p style="padding:0px 20px 0px 20px;">Please note that this Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent, and we expect most such changes will be minor. Regardless, we will post any Privacy Policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of Privacy Policy changes). Each version of this Privacy Policy will be identified at the top of the page by its effective date, and we will also keep prior versions of this Privacy Policy in an archive for your review.</p>
        <p style="padding:0px 20px 0px 20px;">If you have any additional questions or concerns about this Privacy Policy, please feel free to contact us any time through our <a style="" target="_blank" href="/contact_us">website</a>.</p>
        
        
            
            <p></p>
        
        </td>
                        </tr>
                    </tbody></table>
                </td>	 
            </tr>
        </tbody></table>
    </div>
  </div>
 </div>
</div>		
<%=stylesheet_link_tag "home"%>
