<!--  When u change any content in this page, after changes clear the cache by thr URL "/clear_cache"       -->


<div class="container">
  <div class="cb10"></div>
  <div class="cb10"></div>
  <div class="col-md-12 p0">
    <div class="con-box1">
      <div class="top_m_cont_land_static static_content security_cont">
        <div class="security_yellow"><img src="/assets/scurity_seal.png"><span>You can help us protect our customers.</span></div>
        <table width="100%" cellspacing="0" cellpadding="0" align="center" id="faq" style="color:#5F5F5F; font-family:Verdana,Geneva,sans-serif; line-height:24px; font-size:13px;">
            <tbody><tr>
                <td align="center">
                    <table width="100%" cellspacing="4" cellpadding="0" align="center" >
                        <tbody><tr>
                            <td style="text-align:left">
                                <div style="font-size:22px;color:#141414;"> <h6 class="prv_h6" style="margin-top:0;">Security</h6></div>
                                <p>
                The safety and security of Wakeupsales customers data is our Top Most priority.  Keeping ever increasing security threats in mind, Wakeupsales conducts routine security audits by top notch experts in the industry.
                </p>
                 <p>
                Wakeupsales uses physical, procedural, and technical safeguards to preserve the integrity and security of your priceless information.
                </p>
                                
                <h2>Network Security</h2>
                <p>Wakeupsales uses 128/256-Bit SSL encryption, ensuring communication security over the Internet. 
We use the same level of encryption that is being used by banks/financial oraganizations to secure online transactions.</p>
<br/>
<p>All traffic to Wakeupsales are automatically get scanned for harmful viruses. Data access in Wakeupsales is subject to numerous checks to ensure no users from outside your company ever see or modify your data without you explicitly granting them access within Wakeupsales.</p>
                
                <h2>Data Security and Backup</h2>
                <p>Wakeupsales database is hosted in secure AWS Cloud (Amazon Web Services). All your data backed up hourly on multiple Amazon servers. Even if one server fails, your account is active with all data intact.  Our endeavor to achieve 99.9% uptime, which guarantees you service continuity all the time.</p>
                <br/>
                <span style="color:#51c585;font-family:RobotoCondensed-Regular;font-size:24px;">Responsible Disclosure of Security Vulnerabilities</span>
                <p style="padding-top:8px;">Web security is constantly evolving; It is our top priority to keep our customer's personal data safe and confidential.</p>
                <br/>
                
                                <p style="font-weight:bold;">Please act in good faith towards our customer's privacy and data during your disclosure. Wakeupsales requests that you don't post or share any information about a potential vulnerability publicly. Also, we respectfully ask that you do not post or share any data belonging to our customers. We will not take legal actions against individuals who act in good faith and responsibly disclose a security issue. </p>

                
<p>If you think you've discovered an issue with Wakeupsales security measures, please contact us at <a href="mailto:support@wakeupsales.org">developer@Wakeupsales.com</a>. Once we've received your message, we will investigate the issue. If you are interested in helping find the solution, let us know and we will involve you as much as we can.</p>

                <br/><p><span style="font-weight:bold">NOTE:</span> In your disclosure, please include the potential impact with screen-shot if possible, steps to reproduce the issue and page name. Also don't forget to mention your Name, Twitter/Facebook/LinkedIn/G+ ID</p>
                <h2>NO COMPENSATION</h2>
                <p>Wakeupsales does not compensate individuals or organizations for identifying potential or confirmed vulnerabilities. Requests for monetary compensation will not be honored.</p>
        </td>
                        </tr>
                    </tbody></table>
                </td>  
            </tr>
        </tbody></table>
    </div>
  </div>
 </div>
</div>  
<%=stylesheet_link_tag "home"%>
