<!--  When u change any content in this page, after changes clear the cache by thr URL "/clear_cache"       -->


<div class="container">
  <div class="cb10"></div>
  <div class="cb10"></div>
  <div class="col-md-12 p0">
    <div class="con-box1">
      <div>
        <table width="100%" cellspacing="0" cellpadding="0" align="center" id="faq" style="color:#5F5F5F; font-family:Verdana,Geneva,sans-serif; line-height:24px; font-size:13px;">
            <tbody><tr>
                <td align="center">
                    <table width="100%" cellspacing="4" cellpadding="0" align="center" >
                        <tbody><tr>
                            <td style="text-align:left">
                                <p style="color:#647281;font-size:22px;padding:20px;">Security</p>
                                    <p style="padding:0px 20px 0px 20px;">The information you put into <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> is secured; extremely important to us.</p>
                                    <p style="margin-top:15px;padding:0px 20px 0px 20px;"><b>
                                        Data Reliability</b></p>
                                        <p style="padding:0px 20px 0px 20px;">
                                       <a style="" target="_blank" href="http://www.wakeupsales.com" >Wakeupsales.com</a> uses physical, procedural, and technical safeguards to preserve the integrity and security of your information. We do the below as part of our practices:</p><p></p>
        
                                    <ul style="line-height:22px;margin-left:30px;" class="ul">
                                        <li>We do take regular back up of your data to help prevent data loss and help in data recovery.</li>
                                        <li><a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> database has been hosted in secure AWS (Amazon Web Services) cloud.</li>
                                        <li>We have Implemented firewalls and access restrictions on our servers to secure our network and better protect your information.</li>
                                    </ul>
            <p></p> 
             <p style="margin-top:15px; padding:0px 20px 0px 20px;">
                  <b>Data Privacy</b>
             </p>
                       <p style="padding:0px 20px 0px 20px;">All data access in <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> is subject to numerous checks to ensure no users from outside your company ever see or modify your data without you explicitly granting them access within <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a>.
                       </p>
             <p style="margin-top:15px; padding:0px 20px 0px 20px;">
                  <b >Physical Security</b>
             </p>
             <p style="padding:0px 20px 0px 20px;">All of <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> servers are hosted in secure with AWS Cloud (Amazon Web Services) </p>
        
             <p style="margin-top:15px;padding:0px 20px 0px 20px;">
                  <b >Network Security</b>
             </p>
             <p style="padding:0px 20px 0px 20px;">All servers are AWS firewalled to permit the minimum traffic necessary to run the service, and access to those servers is limited to <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> employees with a legitimate business need.</p>
             
             <p style="margin-top:15px; padding:0px 20px 0px 20px;">
                  <b>Secure Application Development</b>
             </p>
        <p style="padding:0px 20px 0px 20px;"><a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> follows best practices in all areas of application security and prevents common web attack vectors.</p>
        <p style="padding:0px 20px 0px 20px;">When you enter information into WakeUpSales, we use secure socket layer (SSL) technology to encrypt the transmission of your data to our servers, which helps protect your data.</p>
        
             <p style="margin-top:15px;padding:0px 20px 0px 20px;">
                  <b style="font-weight:bold">Security and privacy features available in <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a></b>
             </p>
             <p style="padding:0px 20px 0px 20px;">In an <a style="" target="_blank" href="http://www.wakeupsales.com">Wakeupsales.com</a> workspace, customers determine who can access different categories of data like Projects, and Tasks, and Tags.</p>
        
             <p style=" margin-top:15px;padding:0px 20px 0px 20px;">
                  <b style="font-weight:bold">Want to report a security concern?</b>
             </p>
             <p style="padding:0px 20px 0px 20px;">Email us at&nbsp;<a href="mailto:support@wakeupsales.com">support@wakeupsales.com</a></p>
        </td>
                        </tr>
                    </tbody></table>
                </td>	 
            </tr>
        </tbody></table>
    </div>
  </div>
 </div>
</div>	
<%=stylesheet_link_tag "home"%>
