.mtop30
  %h4 API Token:
%hr
.row
  .col-md-12
    .col-md-6
      .con-box1.p0{style: "min-height: 60px;"}
        .fl.head_font
        .fr{style: "margin-top: 6px;"}
        .cb10 
        .col-md-12
          Auth Token:
          %i
            =@current_organization.auth_token      
        .cb