
.col-lg-12.con-box1{style: "border-top:none;border-radius:0;background:#fff"}
  .col-lg-8
    
    = high_chart("lead_pie_chart", @piedonut_chart)
  .cb	
  
#lead_pie_chart.body.collapse.in

.cb
%br
= render :partial => "lead_age_bar_view"